@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Total Views</h2>
    <div>
        <span id="totalViewsCounter"></span>
    </div>
</div>

<div class="text-center">
    <h2>Total Users</h2>
    <div>
        <span id="totalUsersCounter"></span>
    </div>
</div>

<script src="~/js/lib/signalr.js"></script>
<script src="~/js/signalr-client.js"></script>
